table {
  border: 2px solid black;
  border-collapse: collapse;
}
td {
  border: 1px solid gray;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}